<% include header.html %>

		<div class="container">

			<h1>OCTO ARCHER</h1>

			<div id="gr-gallery" class="gr-gallery">
				<div class="gr-main">
                    <% images.forEach(function(image){ %>
                        <figure>
                            <div>
                                <img src=<%= image %> />
                            </div>
                            <figcaption>
                                <h2><span>Downloaded from unsplash.com</span></h2>
                                <div><p>By OctoArcher <3 </p></div>
                            </figcaption>
                        </figure>
                   <% }) %>
				</div>
			</div>
		</div><!-- /container -->

<% include footer.html %>
